.demo {
  width: 300px;
  background: darkolivegreen;
  padding: 10px;
  box-sizing: border-box;
}
.item {
  padding: 0 6px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #333;
}
.container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}
.center {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  width: 0;
}
.col-item {
  flex-shrink: 0;
}
.more {
  position: relative;
  padding: 0 6px;
  border: 1px solid #333;
}
