.demo {
  width: 300px;
  background: darkolivegreen;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.item {
  padding: 0 6px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #333;
}

.col-item {
  display: inline-block;
  word-break: keep-all;
  flex: none;
}

.more-item {
  padding: 0 6px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #333;
}
